<%= form_for @snippet do |f| %>
<% if @snippet.errors.any? %>
<div class="error_messages">
	<h3>Form is invalid</h3>
	<ul>
		<% for message in @snippet.errors.full_messages %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :search_terms %>
	<%= f.text_field :search_terms %>
</div>
<div class="field">
	<%= f.label :category_id %>
	<%= f.select(:category_id, @category_options) %>
</div>
<div class="field">
	<%= f.label :contents %>
	<%= f.text_area :contents %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>