<div class="partial">
	<h1>
		<%= link_to snippet.name, snippet %>
		<span class="do-stuff">
			<% if can? :update, snippet %>
			<span class="edit"><%= link_to "Edit", edit_snippet_path(snippet) %>
			<%= link_to "Delete", snippet, method: :delete, data: { confirm: 'Deltet this code?' } %>
			<% end %> 
			<%= link_to like_snippet_path(snippet), method: :put do %>
			Upvote
			<%= snippet.get_upvotes.size %></span>
			<% end %>
		</span>
	</h1>
	<pre class="language-<%= snippet.category.language %>" rel="<%= snippet.category.language %>">
		<code class="language-<%= snippet.category.language %>">
			<%= truncate(snippet.contents, length: 100) %>
		</code>
	</pre>
	<li><span class="tags">Language:</span> <span class="result"><%= snippet.category.language %></span></li>
		<li><span class="tags">Search Terms:</span> <span class="result"><%= snippet.search_terms %></span></li>
		<li><span class="tags">User:</span> <span class="result"><%= snippet.user.try(:user_name) %></span></li>
</div>