<h1> Code Index </h1>

<% @snippets.each do |snippet|%>
 <%= snippet.name %>
 <%= snippet.search_terms %>
 <pre class="language-<%= snippet.category.language %>" rel="<%= snippet.category.language %>"><code class="language-<%= snippet.category.language %>">
 <%= snippet.contents %>
 </code></pre>
 <%= snippet.user.try(:user_name) %>
 <%= snippet.category.language %>
<% end %>
<%= link_to "Add Code", new_snippet_path %>