<h2> Every Snippet of Code I Know </h2>
<% content_for :search do %>
<%= search_form_for @search do |f| %>
<div class="search-bar">
	<%= f.text_field :search_terms_cont, class: "search", placeholder: "Search Terms" %>
	<%= f.submit "Search", class: "search-submit" %>
</div>
<% end %>
<% end %>
<% @snippets.each do |snippet|%>
<div class="index-snippet">
	<li><h1><%= link_to snippet.name, snippet %><h1></li>
	<pre class="language-<%= snippet.category.language %>" rel="<%= snippet.category.language %>"><code class="language-<%= snippet.category.language %>"><%= truncate(snippet.contents, length: 100) %>
		</code>
	</pre>
	<li><span class="tags">Language:</span> <span class="result"><%= snippet.category.language %></span></li>
		<li><span class="tags">Search Terms:</span> <span class="result"><%= snippet.search_terms %></span></li>
		<li><span class="tags">User:</span> <span class="result"><%= snippet.user.try(:user_name) %></span></li>
</div>
<% end %>




