<main>
<div class="new">
    <h3>Login</h3>
    <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :user_name %>
      <%= text_field_tag :user_name, params[:user_name] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>

    <p>Not a user? Click <%= link_to "here", new_user_path %> to sign up! </p>
  </div>
</main>